<div class="row">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      {{review.author}}
    </div>
    <div class="panel panel-body">
      {{star-rating item=review rating=review.rating}}
      {{review.content}}
      <div class="row time-row">
        <button class="btn btn-warning btn-xs" {{action 'deleteReview' review}}><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        {{review.time}}
      </div>
    </div>
  </div>
</div>
